<!-- css custom -->
<link rel="stylesheet" href="css/signUp.css">
<!-- form edit password -->
<div class="signup">
    <div class="logo"> <img src="images/banner/img_avatar2.png" alt=""> </div>
    <div class="text-center mt-4 name">Sửa đổi mật khẩu </div>
    <div class="row">
        <form class="p-3 mt-2" name="change">
            <div class="row">
                <div class="form-field d-flex align-items-center col-sm-5">
                    <span class="fa fa-user"></span>
                    <input type="text" name="username" ng-pattern="/^[a-zA-Z0-9-]*$/" id="username" ng-model="username" placeholder="Tài khoản">
                </div>

                <div class="col-sm-1"></div>

                <div class="form-field d-flex align-items-center col-sm-6">
                    <span class="fa fa-key"></span>
                    <input type="password" name="password" id="pws" ng-model="password" placeholder="Mật khẩu">
                </div>

                <div class="row">
                    <div ng-show="change.username.$invalid" class="text-danger font-italic col-sm-6 ">
                        <span ng-if="change.username.$touched">Nhập sai định dạng!</span>
                        <span ng-if="change.username.$untouched">Vui lòng nhập tài khoản!</span>
                    </div>
                    <div ng-show="change.password.$invalid" class="text-danger font-italic col-sm-6 d-flex justify-content-end ">
                        <span>Vui lòng nhập mật khẩu!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-field d-flex align-items-center col-sm-5">
                    <span class="fa fa-key"></span>
                    <input type="password" name="newpass" id="pwsnew" ng-model="newpass" placeholder="Mật khẩu mới">
                </div>

                <div class="col-sm-1"></div>

                <div class="form-field d-flex align-items-center col-sm-6">
                    <span class="fa fa-key"></span>
                    <input type="password" name="confirm" id="confirm" ng-model="confirmpass" placeholder="Nhập lại mật khẩu">
                </div>

                <div class="row">
                    <div ng-show="change.newpass.$invalid" class="text-danger font-italic col-sm-6">
                        <span>Vui lòng nhập mật khẩu mới!</span>
                    </div>
                    <div ng-show="change.confirm.$invalid" class="text-danger font-italic col-sm-6  ">
                        <span>Vui lòng nhập lại mật khẩu mới!</span>
                    </div>
                </div>
            </div>
            <button class="btn mt-3" ng-disabled="change.$invalid" ng-click="changePass()">Cập nhật</button>
        </form>
    </div>
</div>