<!-- css custom -->
<!-- <link rel="stylesheet" href="css/index.css"> -->
<!-- room exam -->
<div class="row" ng-controller="tnctrl">
    <article class="mt-5 p-5">
        <div class="section-header  mt-2">
            <div class="chat-bubble ms-5">
                <span class="title">#PHÒNG THI ONLINE</span>
                <div class="chat-bubble reverse" style="color: #27b995"></div>
            </div>
        </div>
        <div class="px-5 d-flex justify-content-between ">
            <button class="btn mt-3 btn-primary" type="submit" ng-click="return()">Quay lại</button>
            <div class="row text-center">
                <div ng-show="countDown_text > 0" style="font-size: 30px;">Thời gian còn lại {{countDown_text}} Phút</div>
                <div ng-show="countDown_text == 0">Your password is expired!.</div>
            </div>
            <button class="btn mt-3 btn-primary float-end" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModalToggle" ng-click="finish()">Nộp bài</button>

        </div>
        <div class="p-5 mt-2 ml-n2 mr-n2 p-3 " ng-repeat=" tn in listcauhoi | limitTo:1:start">
            <div class="card-header p-4 ">
                <i class="fa fa-list fs-4 "><span class="fs-4 "> {{tenMH}}</span></i>
            </div>
            <div class="card-body p-0  border">
                <div class="row p-3 mb-3 ">
                    <h3>{{index}}. {{tn.Text}}
                    </h3>
                    <hr>
                    <div class="ml-2 ">
                        <div class="form-check mb-3 fs-5 " ng-if="tn.Answers[0].Id != null">
                            <input class="form-check-input " type="radio" name="result" id="result1 " ng-model="listResult[start]" ng-value="{{tn.Answers[0].Id}}" ng-click="listResults(tn.Answers[0].Id)">
                            <label class="form-check-label " for="result1 ">
                                <span >{{tn.Answers[0].Text}}</span> 
                            </label>
                        </div>
                        <div class="form-check mb-3 fs-5 " ng-if="tn.Answers[1].Id != null">
                            <input class="form-check-input " type="radio" name="result" id="result2 " ng-model="listResult[start]" ng-value="{{tn.Answers[1].Id}}" ng-click="listResults(tn.Answers[1].Id)">
                            <label class="form-check-label " for="result2 ">
                                <span >{{tn.Answers[1].Text}}</span>
                            </label>
                        </div>
                        <div class="form-check mb-3 fs-5 " ng-if="tn.Answers[2].Id != null">
                            <input class="form-check-input " type="radio" name="result" id="result3 " ng-model="listResult[start]" ng-value="{{tn.Answers[2].Id}}" ng-click="listResults(tn.Answers[2].Id)">
                            <label class="form-check-label " for="result3 ">
                                <span >{{tn.Answers[2].Text}}</span>
                            </label>
                        </div>
                        <div class="form-check mb-3 fs-5 " ng-if="tn.Answers[3].Id != null">
                            <input class="form-check-input " type="radio" name="result" id="result4 " ng-model="listResult[start]" ng-value="{{tn.Answers[3].Id}}" ng-click="listResults(tn.Answers[3].Id)">
                            <label class="form-check-label " for="result4 ">
                                <span >{{tn.Answers[3].Text}}</span>
                            </label>
                        </div>
                        <div class="form-check mb-3 fs-5 " ng-if="tn.Answers[4].Id != null">
                            <input class="form-check-input " type="radio" name="result" id="result5 " ng-model="listResult[start]" ng-value="{{tn.Answers[4].Id}}" ng-click="listResults(tn.Answers[4].Id)">
                            <label class="form-check-label " for="result4 ">
                                <span >{{tn.Answers[4].Text}}</span>
                            </label>
                        </div>
                        <div class="form-check mb-3 fs-5 " ng-if="tn.Answers[5].Id != null">
                            <input class="form-check-input " type="radio" name="result" id="result6 " ng-model="listResult[start]" ng-value="{{tn.Answers[5].Id}}" ng-click="listResults(tn.Answers[5].Id)">
                            <label class="form-check-label " for="result4 ">
                                <span >{{tn.Answers[5].Text}}</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-between ">
                            <li class="page-item ms-2">
                                <a class="page-link btn btn-outline-light " ng-disabled="index == 1" ng-click="pre() ">Câu trước</a>
                            </li>

                            <li class="page-item ">
                                <a class="page-link btn " ng-disabled="index == 10" ng-click="next() ">Câu sau</a>
                            </li>

                            <li class="page-item me-2">
                                <a class="btn  page-link">{{tn.Marks}} Điểm</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="card-footer p-3 ">
                <span class="fs-5 "> <strong>Điểm:</strong>  {{$parent.testMark}}/10</span>
                <span class=" float-end "><strong>Số câu: </strong><strong>{{index}}/10</strong></span>
            </div>
        </div>
    </article>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Phòng thi: {{tenMH}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Bạn có muốn nộp bài không?</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Nộp bài</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Phòng thi: {{tenMH}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" ng-click="chuyentiep()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Chúc mừng bạn đã hoàn thành bài thi với số điểm:
                    <Strong>{{testMark}}/10</Strong>
                </h4>
            </div>
        </div>
    </div>
</div>