<!-- css custom -->
<link rel="stylesheet" href="css/signIn.css">
<!-- form forgot passwrod -->
<div class="login">
    <div class="logo"> <img src="images/banner/img_avatar2.png" alt=""> </div>
    <div class="text-center mt-4 name">Quên mật khẩu </div>
    <form class="p-3 mt-2" name="forgot">

        <div class="form-field d-flex align-items-center">
            <span class="fa fa-user"></span>
            <input type="text" name="username" id="userName" ng-pattern="/^[a-zA-Z0-9-]*$/" ng-model="username" placeholder="Tài khoản">
        </div>
        <div ng-show="forgot.username.$invalid" class="text-danger font-italic  ">
            <span ng-if="forgot.username.$touched">Nhập sai định dạng!</span>
            <span ng-if="forgot.username.$untouched">Vui lòng nhập tài khoản!</span>
        </div>

        <div class="form-field d-flex align-items-center">
            <span class="fa fa-at"></span>
            <input type="email" name="email" id="email" ng-model="email" placeholder="Email">
        </div>
        <div ng-show="forgot.email.$invalid" class="text-danger font-italic">
            <span ng-if="forgot.email.$touched">Nhập sai định dạng!</span>
            <span ng-if="forgot.email.$untouched">Vui lòng nhập email!</span>
        </div>

        <button class="btn mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal" ng-disabled="forgot.$invalid" ng-click="send()">Gửi mã</button>
    </form>
    <div class="text-center fs-6"> <a href="#!signin">Đăng nhập</a> hoặc <a href="#!signup">Đăng ký</a> </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Quên mật khẩu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" ng-click="chuyentiep()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Mật khẩu của bạn là: {{passForgot}}</h4>
            </div>
        </div>
    </div>
</div>